{% extends 'section/base.html' %}

{% block content %}

<!-- Header -->
<header class="bg-dark py-4 header">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
        </div>
    </div>
</header>
<br><br>
<center><h1>Under Construction!!</h1></center>
<center><h1>Under Construction!!</h1></center>
<center><h1>Gcash: 09171376118</h1></center>
<center><h1>Under Construction!!</h1></center>
<center><h1>Under Construction!!</h1></center>
<br><br><br><br><br>

{% endblock %}