<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container px-4 px-lg-5">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url "user_home" %}">Calzada</a>
        {% else %}
        <a class="navbar-brand" href="{% url "home" %}">Calzada</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <center>
                            <li><a class="dropdown-item" href="{% url 'show_all_products_image' %}">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'show_shoe_products_image' %}">Shoe Products</a></li>
                            <li><a class="dropdown-item" href="{% url 'show_cloth_products_image' %}">Cloth Products</a></li>
                            <li><a class="dropdown-item" href="{% url 'show_gadget_products_image' %}">Gadget Products</a></li>
                            <li><a class="dropdown-item" href="{% url 'show_skincare_products_image' %}">Skincare Products</a></li>
                            <li><a class="dropdown-item" href="{% url 'show_poultry_products_image' %}">Poultry Products</a></li>
                        </center>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <form class="ml-4" action="{% url 'cart' %}">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <button type="button" class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
                </li>
                <a href="#" class="ml-4" style="color: black; font-size: 24px;"><i class="fas fa-user-circle"></i></a>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
</nav>