{% extends 'section/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-4 header">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Calzada Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register a Calzada account.</p>
        </div>
    </div>
</header>
<center>
    <div class="container mt-5">
        <div class="col-lg-6 col-sm-12">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                <center><button type="submit" class="btn btn-secondary mb-5">Register</button></center>
            </form>
        </div>
    </div>
</center>

{% endblock %}