{% extends 'section/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-4 header">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Calzada Register</h1>
        </div>
    </div>
</header>
<div class="container m-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                <center><button type="submit" class="btn btn-secondary">Register</button></center>
            </form>
        </div>
    </div>
</div>

{% endblock %}